/* БАЗОВІ НАЛАШТУВАННЯ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER – завжди зверху */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid #ddd;
}

.logo {
    height: 30px;
}

.menu {
    height: 25px;
    cursor: pointer;
}

/* HERO – тягнеться на всю висоту */
.hero {
    background: #0052FF;
    color: white;
    padding: 120px 15vw 60px 15vw;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.features {
    letter-spacing: 4px;
    opacity: 0.8;
    font-size: 14px;
    margin-bottom: 10px;
}

.title {
    font-size: 3vw;
    min-font-size: 28px;
    font-weight: bold;
    line-height: 1.1;
    max-width: 600px;
}

.laptop {
    position: absolute;
    right: 5vw;
    bottom: -40px;
    width: 30vw;
    min-width: 250px;
    transform: rotate(-15deg);
}

/* CARDS */
.cards {
    background: #0052FF;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 120px 0 80px;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    background: rgba(255,255,255,0.15);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.card h2 {
    color: orange;
    margin: 10px 0;
}

.icon {
    height: 60px;
    margin-bottom: 10px;
}

.more {
    color: white;
    text-decoration: underline;
    display: inline-block;
    margin-top: 10px;
}

.more:hover {
    opacity: 0.8;
}

/* FOOTER – прикріплений до низу */
.footer {
    background: #3A3A3A;
    text-align: center;
    padding: 20px;
    font-size: 12px;
    color: white;
    margin-top: auto;
}

/* ===== ADAPTIVE ======================= */

@media (max-width: 1024px) {
    .title {
        font-size: 4vw;
    }
    .hero {
        padding: 120px 8vw 60px 8vw;
    }
    .laptop {
        width: 40vw;
    }
}

@media (max-width: 768px) {
    .hero {
        text-align: center;
        padding: 120px 20px 60px 20px;
        align-items: center;
    }
    .title {
        font-size: 28px;
        max-width: 100%;
    }
    .laptop {
        position: static;
        margin-top: 20px;
        width: 270px;
        transform: rotate(-15deg);
    }
    .cards {
        flex-direction: column;
        padding: 80px 0 80px;
    }
    .card {
        width: 85%;
        margin: 10px auto;
    }
}
